html,
body {
  margin: 0px;
  padding: 0px;
}

header {
  border: 2px solid darkgrey;
  width: 100%;
  background-color: white;
  z-index: 10;
  position: fixed;
  transition: 0.2s;
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 1.5px;
}

ul {
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

li {
  color: black;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  text-align: center;
  display: inline-block;
  margin-left: 7%;
  margin-right: 7%;
}

li a {
  color: black;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

li a:hover {
  background-size: 100% 2px;
}
