body table {
  width: 100%;
  padding-top: 70px;
  margin-top: 0;
}

body table th {
  text-align: left;
}

body table td {
  width: 20%;
  vertical-align: top;
}

body table .volume {
  visibility: hidden;
}
